html, body, .container-fluid {
    height: 100%;
}

.sidebar {
    height: 100%;
    background-color: #4d394b;
    color: rgb(202,196,201);
    position: absolute;
    left: 0;
    width: 200px;
    padding: 10px;
}

.main-window {
	height: 100%;
    position: absolute;
    left: 200px;
    right: 0;
}

.chat-window {
	height: 100%-200px;
	position: absolute;
	left: 0;
	right: 0;
	margin-bottom: 200px;
	padding: 40px;
}

.chat-input-field {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 40px;
	padding-bottom: 10px;
}